<section class="cocktails section">
  <div class="container">
    <h2 class="section__title cocktails__title">Cocktails</h2>
    <ul class="cocktails-cards list">
      <li class="cocktails-cards__item">
        <!-- <img -->
        <img
          class="cocktails__photo"
          src="./images/dev_placeholders/Vampiro.jpg"
          alt="Коктейль"
          width="280px"
        />

        <div class="cocktails-description">
          <h3 class="cocktails-head">Negroni</h3>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <div class="cocktails-buttons__wrapper">
              <button class="button add-btn visually-hidden" type="button">
                Add to
                <svg
                  class="cocktails-description__icon-heart"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-Heart"></use>
                </svg>
              </button>
            </div>

            <button class="button remove-btn" type="button">
              Remove
              <svg
                class="cocktails-description__icon-heart active-icon"
                width="20"
                height="20"
              >
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="cocktails-cards__item">
        <!-- <img -->
        <img
          class="cocktails__photo"
          src="./images/dev_placeholders/Amaretto-Sunrise.jpg"
          alt="Коктейль"
          width="280px"
        />

        <div class="cocktails-description">
          <h3 class="cocktails-head">Margarita</h3>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <div class="cocktails-buttons__wrapper">
              <button class="button add-btn" type="button">
                Add to
                <svg
                  class="cocktails-description__icon-heart"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-Heart"></use>
                </svg>
              </button>
            </div>

            <button class="button remove-btn visually-hidden" type="button">
              Remove
              <svg
                class="cocktails-description__icon-heart"
                width="20"
                height="20"
              >
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="cocktails-cards__item">
        <!-- <img -->
        <img
          class="cocktails__photo"
          src="./images/dev_placeholders/Apello.jpg"
          alt="Коктейль"
          width="280px"
        />

        <div class="cocktails-description">
          <h3 class="cocktails-head">Cosmopolitan</h3>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <div class="cocktails-buttons__wrapper">
              <button class="button add-btn" type="button">
                Add to
                <svg
                  class="cocktails-description__icon-heart"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-Heart"></use>
                </svg>
              </button>
            </div>

            <button class="button remove-btn visually-hidden" type="button">
              Remove
              <svg
                class="cocktails-description__icon-heart"
                width="20"
                height="20"
              >
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="cocktails-cards__item">
        <!-- <img -->
        <img
          class="cocktails__photo"
          src="./images/dev_placeholders/A-J.jpg"
          alt="Коктейль"
          width="280px"
        />

        <div class="cocktails-description">
          <h3 class="cocktails-head">Bellini</h3>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <div class="cocktails-buttons__wrapper">
              <button class="button add-btn" type="button">
                Add to
                <svg
                  class="cocktails-description__icon-heart"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-Heart"></use>
                </svg>
              </button>
            </div>

            <button class="button remove-btn visually-hidden" type="button">
              Remove
              <svg
                class="cocktails-description__icon-heart"
                width="20"
                height="20"
              >
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="cocktails-cards__item">
        <!-- <img -->
        <img
          class="cocktails__photo"
          src="./images/dev_placeholders/Lady-Love-Fizz.jpg"
          alt="Коктейль"
          width="280px"
        />

        <div class="cocktails-description">
          <h3 class="cocktails-head">Piña Colada</h3>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <div class="cocktails-buttons__wrapper">
              <button class="button add-btn" type="button">
                Add to
                <svg
                  class="cocktails-description__icon-heart"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-Heart"></use>
                </svg>
              </button>
            </div>

            <button class="button remove-btn visually-hidden" type="button">
              Remove
              <svg
                class="cocktails-description__icon-heart"
                width="20"
                height="20"
              >
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="cocktails-cards__item">
        <!-- <img -->
        <img
          class="cocktails__photo"
          src="./images/dev_placeholders/Adam.jpg"
          alt="Коктейль"
          width="280px"
        />

        <div class="cocktails-description">
          <h3 class="cocktails-head">Mimosa</h3>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <div class="cocktails-buttons__wrapper">
              <button class="button add-btn" type="button">
                Add to
                <svg
                  class="cocktails-description__icon-heart"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-Heart"></use>
                </svg>
              </button>
            </div>

            <button class="button remove-btn visually-hidden" type="button">
              Remove
              <svg
                class="cocktails-description__icon-heart"
                width="20"
                height="20"
              >
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="cocktails-cards__item">
        <!-- <img -->
        <img
          class="cocktails__photo"
          src="./images/dev_placeholders/ACID.jpg"
          alt="Коктейль"
          width="280px"
        />

        <div class="cocktails-description">
          <h3 class="cocktails-head">White Lady</h3>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <div class="cocktails-buttons__wrapper">
              <button class="button add-btn" type="button">
                Add to
                <svg
                  class="cocktails-description__icon-heart"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-Heart"></use>
                </svg>
              </button>
            </div>

            <button class="button remove-btn visually-hidden" type="button">
              Remove
              <svg
                class="cocktails-description__icon-heart"
                width="20"
                height="20"
              >
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="cocktails-cards__item">
        <!-- <img -->
        <img
          class="cocktails__photo"
          src="./images/dev_placeholders/Long-Island-Iced-Tea.jpg"
          alt="Коктейль"
          width="280px"
        />

        <div class="cocktails-description">
          <h3 class="cocktails-head">Aviation</h3>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <div class="cocktails-buttons__wrapper">
              <button class="button add-btn" type="button">
                Add to
                <svg
                  class="cocktails-description__icon-heart"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-Heart"></use>
                </svg>
              </button>
            </div>

            <button class="button remove-btn visually-hidden" type="button">
              Remove
              <svg
                class="cocktails-description__icon-heart"
                width="20"
                height="20"
              >
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="cocktails-cards__item">
        <!-- <img -->
        <img
          class="cocktails__photo"
          src="./images/dev_placeholders/Mountain-Bramble.jpg"
          alt="Коктейль"
          width="280px"
        />

        <div class="cocktails-description">
          <h3 class="cocktails-head">Manhattan</h3>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <div class="cocktails-buttons__wrapper">
              <button class="button add-btn" type="button">
                Add to
                <svg
                  class="cocktails-description__icon-heart"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-Heart"></use>
                </svg>
              </button>
            </div>

            <button class="button remove-btn visually-hidden" type="button">
              Remove
              <svg
                class="cocktails-description__icon-heart"
                width="20"
                height="20"
              >
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
