<section class="cocktails section">
  <div class="container">
    <h2 class="section__title cocktails__title">Cocktails</h2>
    <ul class="cocktails-cards list">
      <li class="cocktails-cards__item">
        <img
          class="cocktails__photo"
          src="./images/dev_placeholders/Vampiro.jpg"
          alt="Коктейль"
          width="280px"
        />

        <div class="cocktails-description">
          <h3 class="cocktails-head">Negroni</h3>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <button
              class="button add-remove-btn active"
              type="button"
              data-favorite-cocktail
            >
              <span>Add to</span>
              <svg class="icon-heart-not-active" width="20" height="20">
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="cocktails-cards__item">
        <img
          class="cocktails__photo"
          src="./images/dev_placeholders/Vampiro.jpg"
          alt="Коктейль"
          width="280px"
        />

        <div class="cocktails-description">
          <h3 class="cocktails-head">Cocktail name</h3>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <button
              class="button add-remove-btn"
              type="button"
              data-favorite-cocktail
            >
              <span>Add to</span>
              <svg class="icon-heart-not-active" width="20" height="20">
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="cocktails-cards__item">
        <img
          class="cocktails__photo"
          src="./images/dev_placeholders/ACID.jpg"
          alt="Коктейль"
          width="280px"
        />

        <div class="cocktails-description">
          <h3 class="cocktails-head">Cocktail name</h3>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <button
              class="button add-remove-btn"
              type="button"
              data-favorite-cocktail
            >
              <span>Add to</span>
              <svg class="icon-heart-not-active" width="20" height="20">
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="cocktails-cards__item">
        <img
          class="cocktails__photo"
          src="./images/dev_placeholders/Apello.jpg"
          alt="Коктейль"
          width="280px"
        />

        <div class="cocktails-description">
          <h3 class="cocktails-head">Cocktail name</h3>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <button
              class="button add-remove-btn"
              type="button"
              data-favorite-cocktail
            >
              <span>Add to</span>
              <svg class="icon-heart-not-active" width="20" height="20">
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="cocktails-cards__item">
        <img
          class="cocktails__photo"
          src="./images/dev_placeholders/Apello.jpg"
          alt="Коктейль"
          width="280px"
        />

        <div class="cocktails-description">
          <h3 class="cocktails-head">Cocktail name</h3>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <button
              class="button add-remove-btn"
              type="button"
              data-favorite-cocktail
            >
              <span>Add to</span>
              <svg class="icon-heart-not-active" width="20" height="20">
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="cocktails-cards__item">
        <img
          class="cocktails__photo"
          src="./images/dev_placeholders/Apello.jpg"
          alt="Коктейль"
          width="280px"
        />

        <div class="cocktails-description">
          <h3 class="cocktails-head">Cocktail name</h3>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <button
              class="button add-remove-btn"
              type="button"
              data-favorite-cocktail
            >
              <span>Add to</span>
              <svg class="icon-heart-not-active" width="20" height="20">
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="cocktails-cards__item">
        <img
          class="cocktails__photo"
          src="./images/dev_placeholders/ABC.jpg"
          alt="Коктейль"
          width="280px"
        />

        <div class="cocktails-description">
          <h3 class="cocktails-head">Negroni</h3>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <button
              class="button add-remove-btn"
              type="button"
              data-favorite-cocktail
            >
              <span>Add to</span>
              <svg class="icon-heart-not-active" width="20" height="20">
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="cocktails-cards__item">
        <img
          class="cocktails__photo"
          src="./images/dev_placeholders/A-J.jpg"
          alt="Коктейль"
          width="280px"
        />

        <div class="cocktails-description">
          <h3 class="cocktails-head">Negroni</h3>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <button
              class="button add-remove-btn"
              type="button"
              data-favorite-cocktail
            >
              <span>Add to</span>
              <svg class="icon-heart-not-active" width="20" height="20">
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="cocktails-cards__item">
        <img
          class="cocktails__photo"
          src="./images/dev_placeholders/A1.jpg"
          alt="Коктейль"
          width="280px"
        />

        <div class="cocktails-description">
          <h3 class="cocktails-head">Negroni</h3>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <button
              class="button add-remove-btn"
              type="button"
              data-favorite-cocktail
            >
              <span>Add to</span>
              <svg class="icon-heart-not-active" width="20" height="20">
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>

    <div class="pagination">
      <ul class="pagination__list">
        <li class="pagination__item">
          <span
            ><svg class="arrow-left" width="20" height="20">
              <use href="./images/sprite.svg#icon-Vector-1"></use></svg
          ></span>
        </li>
        <li class="numb pagination__item"><span>1</span></li>
        <li class="numb pagination__item"><span>2</span></li>
        <li class="dots pagination__item"><span>...</span></li>
        <li class="numb pagination__item"><span>7</span></li>
        <li class="numb pagination__item"><span>8</span></li>
        <li class="numb pagination__item"><span>9</span></li>
        <li class="pagination__item">
          <span
            ><svg class="arrow-left" width="20" height="20">
              <use href="./images/sprite.svg#arrow-right"></use></svg
          ></span>
        </li>
      </ul>
    </div>
  </div>
</section>
