<section class="cocktails-err section visually-hidden">
  <div class="container cocktails-err__container">
    <h2 class="section__title cocktails-err__title">
      Sorry, we didn't find any cocktail for you
    </h2>
    <div class="cocktails-err__wrapper">
      <picture>
        <source
          srcset="./images/cocktails-err-mobile.png 1x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/cocktails-err-tablet.png 1x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/cocktails-err-desktop.png 1x"
          media="(max-width: 767px)"
        />

        <img
          src="./images/cocktails-err-mobile.png"
          alt="cocktails"
          class="cocktails-err__img"
        />
      </picture>
    </div>
  </div>
</section>
