<div class="backdrop visually-hidden" data-modal-cocktail>
  <div class="modal-drink">
    <button
      type="button"
      class="modal-cocktail__close-btn"
      data-modal-cocktail-close
    >
      <svg class="modal-cocktail__close-icon" width="18" height="18">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <div data-modal-cocktail-content></div>
    <!-- <h1 class="modal-hero__drink">Negroni</h1>

    <h2 class="modal-description__drink">Instractions:</h2>

    <p class="modal-description__text-drink">
      Add the gin, Campari and sweet vermouth to a mixing glass filled with ice,
      and stir until well-chilled. Strain into a rocks glass filled with large
      ice cubes. Garnish with an orange peel.
    </p>

    <img
      class="modal-images"
      src="images/dev_placeholders/ACID.jpg"
      alt="Cocktail"
      width="280"
      height="280"
    />

    <h2 class="modal-ingredients">INGREDIENTS</h2>

    <h3 class="modal-ingredients__cocktail">Per cocktail</h3>

    <ul class="modal-cocktail__drink list">
      <li class="modal-cocktail__item-drink">
        <a href="#" class="modal-cocktail__item-link">✶ Ice</a>
      </li>
      <li class="modal-cocktail__item-drink">
        <a href="#" class="modal-cocktail__item-link">✶ 1 ounce gin</a>
      </li>
      <li class="modal-cocktail__item-drink">
        <a href="#" class="modal-cocktail__item-link">✶ 1 ounce Campari</a>
      </li>
      <li class="modal-cocktail__item-drink">
        <a href="#" class="modal-cocktail__item-link">✶ 1 ounce sweet vermouth</a>
      </li>
      <li class="modal-cocktail__item-drink">
        <a href="#" class="modal-cocktail__item-link">✶ Garnish: orange peel</a>
      </li>
    </ul> -->

    <button type="button" class="modal-wrapper__btn-drink" data-add-drink>
      <span class="modal-wrapper__text-drink">Add to favorite</span>
    </button>
  </div>
</div>
