<section favorite-ingredients>
  <div class="favorite-ingredients__area container">
    <h2 class="section__title">Favorite ingredients</h2>
    <ul class="cocktails-cards list">
      <li class="cocktails-cards__item">
        <div class="cocktails-description cocktails-cards__ingredients">
          <h3 class="cocktails-head cocktails-head__ingredients">Campari</h3>
          <p class="cocktails-description__ingredients">liqueur</p>
          <div class="cocktails-buttons cocktails-buttons__ingredients">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <button
              class="button add-remove-btn active"
              type="button"
              data-favorite-cocktail
            >
              <span>Add to</span>
              <svg class="icon-heart-not-active" width="20" height="20">
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="cocktails-cards__item">
        <div class="cocktails-description cocktails-cards__ingredients">
          <h3 class="cocktails-head cocktails-head__ingredients">
            Blanco tequila
          </h3>
          <p class="cocktails-description__ingredients">distilled beverage</p>
          <div class="cocktails-buttons cocktails-buttons__ingredients">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <button
              class="button add-remove-btn"
              type="button"
              data-favorite-cocktail
            >
              <span>Add to</span>
              <svg class="icon-heart-not-active" width="20" height="20">
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="cocktails-cards__item">
        <div class="cocktails-description cocktails-cards__ingredients">
          <h3 class="cocktails-head cocktails-head__ingredients">Vermouth</h3>
          <p class="cocktails-description__ingredients">fortified wine</p>
          <div class="cocktails-buttons cocktails-buttons__ingredients">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <button
              class="button add-remove-btn"
              type="button"
              data-favorite-cocktail
            >
              <span>Add to</span>
              <svg class="icon-heart-not-active" width="20" height="20">
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
    <p class="favorite-error__text">
      You haven't added any favorite ingredients yet
    </p>
  </div>
</section>
<!-- ----------------------Pagination-------------------------------- -->
<section class="pagination">
  <div class="container">
    <ul class="pagination__list">
      <li>
        <span class="pagination__prev"
          ><svg class="arrow-left arrow-no-active" width="8" height="13">
            <use href="./images/sprite.svg#arrow-left"></use></svg
        ></span>
      </li>
      <li class="pagination__numb pagination__item pagination__active">
        <span>1</span>
      </li>
      <li class="pagination__numb pagination__item"><span>2</span></li>
      <li class="pagination__dots pagination__item">
        <span class="dots">. . .</span>
      </li>
      <li class="pagination__numb pagination__item"><span>7</span></li>
      <li class="pagination__numb pagination__item"><span>8</span></li>
      <li class="pagination__numb pagination__item"><span>9</span></li>
      <li>
        <span class="pagination__next"
          ><svg class="arrow-left" width="8" height="13">
            <use href="./images/sprite.svg#arrow-right"></use></svg
        ></span>
      </li>
    </ul>
  </div>
</section>
