<section favorite-ingredients>
  <div class="favorite-ingredients__area container">
    <h2 class="section__title">Favorite ingredients</h2>
    <ul class="cocktails-cards list">
      <li class="cocktails-cards__item">
        <div class="cocktails-description cocktails-cards__ingredients">
          <h3 class="cocktails-head cocktails-head__ingredients">Campari</h3>
          <p class="cocktails-description__ingredients">liqueur</p>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <button
              class="button add-remove-btn active"
              type="button"
              data-favorite-cocktail
            >
              <span>Add to</span>
              <svg class="icon-heart-not-active" width="20" height="20">
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="cocktails-cards__item">
        <div class="cocktails-description cocktails-cards__ingredients">
          <h3 class="cocktails-head cocktails-head__ingredients">
            Blanco tequila
          </h3>
          <p class="cocktails-description__ingredients">distilled beverage</p>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <button
              class="button add-remove-btn"
              type="button"
              data-favorite-cocktail
            >
              <span>Add to</span>
              <svg class="icon-heart-not-active" width="20" height="20">
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="cocktails-cards__item">
        <div class="cocktails-description cocktails-cards__ingredients">
          <h3 class="cocktails-head cocktails-head__ingredients">Vermouth</h3>
          <p class="cocktails-description__ingredients">fortified wine</p>
          <div class="cocktails-buttons">
            <button class="button learn-more-btn" type="button">
              Learn more
            </button>
            <button
              class="button add-remove-btn"
              type="button"
              data-favorite-cocktail
            >
              <span>Add to</span>
              <svg class="icon-heart-not-active" width="20" height="20">
                <use href="./images/sprite.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
    <p class="favorite-error__text">
      You haven't added any favorite ingredients yet
    </p>
  </div>
</section>
<a href="./index.html">Home</a>
