<header class="page-header">
  <div class="container page-header__container">
    <nav class="menu">
      <a href="./index.html" class="logo-text">
        <img
          class="logo-img"
          src="./images/logo.png"
          alt="Martini glass"
          width="123.35"
          height="34"
        />
      </a>
    </nav>
    <form class="form-search js-form-search">
      <button type="submit" class="form-search__btn-submit">
        <svg class="form-search__icon" width="24" height="24">
          <use href="./images/sprite.svg#search"></use>
        </svg>
      </button>
      <input
        type="text"
        class="form-search__input"
        name="search-input"
        placeholder="Search"
        required
      />
    </form>
    <button type="button" class="mobile-menu__open-btn">
      <svg class="mobile-menu__open-btn-icon" width="30" height="16">
        <use href="./images/sprite.svg#burger"></use>
      </svg>
    </button>
    <div class="mobile-menu is-open">
      <div class="wrap-change-theme">
        <span class="change-theme-light">Light</span>
        <svg class="change-theme-switcher" width="40" height="20">
          <use href="./images/sprite.svg#switcher"></use>
        </svg>
      <span class="change-theme-dark">Dark</span>
      </div>

      <button type="button" class="mobile-menu__close-btn">
        <svg class="mobile-menu__close-icon" width="18" height="18">
          <use href="./images/sprite.svg#close"></use>
        </svg>
      </button>
      <form class="form-search js-form-search">
        <button type="submit" class="form-search__btn-submit">
          <svg class="form-search__icon" width="24" height="24">
            <use href="./images/sprite.svg#search"></use>
          </svg>
        </button>
        <input
          type="text"
          class="form-search__input"
          name="search-input"
          placeholder="Search"
          required
        />
      </form>
      <ul class="site-nav-mobile list">
        <li class="site-nav-mobile__item">
          <a href="./index.html" class="site-nav-mobile__link link">Home</a>
        </li>
        <li class="site-nav-mobile__item">
          <a href="#about" class="site-nav-mobile__link link">Favorite
            <svg class="site-nav-mobile__link_favorite-icon" width="24" height="24">
              <use href="./images/sprite.svg#arrow-down"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>


     
