<header class="page-header">
  <div class="container page-header__container">
    <nav class="menu">
      <a href="./index.html" class="logo-text">
        <img
          class="logo-img"
          src="./images/logo.png"
          alt="Martini glass"
          width="123.35"
          height="34"
        />
      </a>
    </nav>
    <button type="button" class="mobile-menu__open-btn">
      <svg class="mobile-menu__open-btn-icon" width="30" height="16">
        <use href="./images/sprite.svg#burger"></use>
      </svg>
    </button>
    <div class="mobile-menu is-open">
      <button type="button" class="mobile-menu__close-btn">
        <svg class="mobile-menu__close-icon" width="32" height="32">
          <use href="./images/sprite.svg#close"></use>
        </svg>
      </button>
      <form class="form-search js-form-search">
        <svg class="form-search__icon" width="30" height="16">
          <use href="./images/sprite.svg#search"></use>
        </svg>
        <input
          type="text"
          class="form-search__input"
          name="search-input"
          placeholder="Search"
          required
        />
      </form>
      <!-- <ul class="site-nav-mobile list">
        <li class="site-nav-mobile__item">
          <a href="./index.html" class="site-nav-mobile__link link">Home</a>
        </li>
        <li class="site-nav-mobile__item">
          <a href="#about" class="site-nav-mobile__link link">Favorite</a>
        </li>
      </ul> -->
    </div>
  </div>
</header>
