<div class="backdrop visually-hidden" data-modal-ingredients>
  <div class="modal" data-modal-ingredients-content>
    <button type="button" class="modal__close-btn" data-modal-close>
      <svg class="modal__close-icon" width="18" height="18">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>

    <h1 class="modal-hero">Campari</h1>

    <h2 class="modal-description">Liqueur</h2>

    <p class="modal-description__text">
      <span class="modal-description__text-hero">Campari</span> is an Italian
      alcoholic liqueur, considered an apéritif (20.5%, 21%, 24%, 25%, or 28.5%
      ABV, depending on the country in which it is sold), obtained from the
      infusion of herbs and fruit (including chinotto and cascarilla) in alcohol
      and water. It is a bitters, characterised by its dark red colour.
    </p>

    <ul class="modal-cocktail list">
      <li class="modal-cocktail__item">
        <a href="#" class="modal-cocktail__item-link">✶ Type: Bitters</a>
      </li>
      <li class="modal-cocktail__item">
        <a href="#" class="modal-cocktail__item-link">✶ Country of origin: Italy</a>
      </li>
      <li class="modal-cocktail__item">
        <a href="#" class="modal-cocktail__item-link">✶ Alcohol by volume: 20.5–28.5%</a>
      </li>
      <li class="modal-cocktail__item">
        <a href="#" class="modal-cocktail__item-link">✶ Flavour: Bitter, spicy and sweet</a>
      </li>
    </ul>

    <button type="button" class="modal-wrapper__btn" data-add-ingredient>
      <span class="modal-wrapper__text">Add to favorite</span>
    </button>
  </div>
</div>
