// змінити гепи
.cocktails-description{
    fill: var(--primary-accent-color);
}

.cocktails{
    padding-top: 20px;
}

.cocktails-cards{
    display: flex;
    flex-wrap: wrap;    
    gap: 20px;
}

.cocktails-cards__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-accent-color);
    border-radius: 4px;
}

// це нада змнити в копонентах!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// .section__title {
//     font-family: 'Poppins';
//     font-size: 22px;
//     line-height: 1.9;
//     font-weight: 600;
//     text-align: center;
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
//     margin-bottom: 60px;
// }

.cocktails__photo {
    overflow: hidden;
    display: flex;
    width: 278px;
    height: 278px;
}

.cocktails-description{
    width: 100%;
    padding-top: 48px;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 24px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cocktails-head{
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;

    margin-bottom: 16px;
}

.cocktails-buttons__wrapper{
    position: relative;
}

.cocktails-buttons{
    display: flex;
    justify-content: space-between;
}

.cocktails-description__icon-heart{
    margin-left: 8px;
    fill: white;
}

.active-icon{
    fill: var(--primary-accent-color);
}

@media screen and(min-width: 768px) {
    .cocktails-cards {
        gap: 32px;
    }
    .cocktails-cards__item {
            border: 1px solid var(--primary-accent-color);
            padding-top: 21px;
            padding-bottom: 21px;
            flex-basis: calc((100% - 32px) / 2);
    }
    .cocktails__photo {
        width: 333px;
        height: 393px;
    }





        .button {
            border-radius: 4px;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.02em;
        }
    
        .add-btn,
        .remove-btn {
            display: flex;
            align-items: center;
            justify-content: center;
    
            width: 110px;
            // height: 39px;
            padding-top: 6px;
            padding-bottom: 6px;
            border: 2px solid var(--primary-accent-color);
            color: var(--primary-accent-color);
            background-color: transparent;
    
            &:hover {
                background-color: var(--primary-white-color);
                border: 1px solid var(--primary-accent-color);
            }
    
            &:active {
                background-color: transparent;
                border: 1px solid var(--primary-accent-color);
            }
    
            &:active .cocktails-description__icon-heart {
                fill: var(--primary-accent-color);
            }
    
        }
    
        .cocktails-description {
            fill: var(--primary-accent-color);
        }
    
        .cocktails {
            padding-top: 20px;
        }
    
        .cocktails-cards {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    
        .cocktails-cards__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--primary-accent-color);
            border-radius: 4px;
        }
    
        // це нада змнити в копонентах!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
        // .section__title {
        //     font-family: 'Poppins';
        //     font-size: 22px;
        //     line-height: 1.9;
        //     font-weight: 600;
        //     text-align: center;
        // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
        //     margin-bottom: 60px;
        // }
    
        .cocktails__photo {
            overflow: hidden;
            display: flex;
            width: 278px;
            height: 278px;
        }
    
        .cocktails-description {
            width: 100%;
            padding-top: 48px;
            padding-left: 21px;
            padding-right: 21px;
            padding-bottom: 24px;
    
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    
        .cocktails-head {
            font-weight: 900;
            font-size: 26px;
            line-height: 1.6;
            text-align: center;
    
            margin-bottom: 16px;
        }
    
        .cocktails-buttons__wrapper {
            position: relative;
        }
    
        .cocktails-buttons {
            display: flex;
            justify-content: space-between;
        }
    
        .cocktails-description__icon-heart {
            margin-left: 8px;
            fill: white;
        }
    
        .active-icon {
            fill: var(--primary-accent-color);
        }
}

@media screen and(min-width: 1280px) {


    .cocktails-cards__item {
        border: 1px solid var(--primary-accent-color);
        padding-top: 25px;
        padding-bottom: 25px;
        flex-basis: calc((100% - 64px) / 3);

    }

    .cocktails__photo {
        width: 313px;
        height: 313px;

    }
}
