.form-search-tablet {
  display: none;
}
.burger-menu__logo {
  display: none;
}

.site-nav {
  display: none;
}

.wrap-change-theme__desktop {
  display: none;
}

.page-header__container {
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 20px;
  // padding-bottom: 30px;
}

.burger-menu {
  position: absolute;
  width: 100%;
  height: 568px;
  top: 0;
  left: 0;
  background: var(--secondary-white-color);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}
// .is-open {
//   opacity: 1;
//   visibility: visible;
//   pointer-events: auto;
// }

.burger-menu__open-btn {
  display: inline-flex;
  margin-left: auto;
  line-height: 0;
  border: 0;
  padding: 0;
  background-color: var(--secondary-white-color);
}
.burger-menu__open-btn-icon {
  fill: #000000;
  transition: fill var(--transition-dur-and-func);
}
.burger-menu__close-btn {
  position: absolute;
  padding: 7px;
  top: 22px;
  right: 20px;
  display: block;
  border: 0;
  line-height: 0;
  background-color: var(--secondary-white-color);
}

.burger-menu__close-icon {
  fill: #000000;
}
.wrap-change-theme {
  display: flex;
  align-items: center;
  margin-top: 27px;
  padding-left: 20px;
}
.change-theme-light {
  display: inline-block;
  margin-right: 12px;
  font-size: 18px;
  line-height: 1.33;
  color: var(--primary-accent-color);
}

.change-theme-dark {
  display: inline-block;
  margin-left: 12px;
  font-size: 18px;
  line-height: 1.33;
}
.form-search {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  margin-top: 47px;
  padding-left: 20px;
  padding-right: 20px;
}
.form-search__btn-submit {
  border: 1px solid #fd5103;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 8px;
  line-height: 0;
  background-color: var(--secondary-white-color);
}
.form-search__icon {
  fill: var(--primary-accent-color);
}
.form-search__input {
  width: 100%;
  border: 1px solid #fd5103;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0;
  padding-left: 8px;
  font-size: 18px;
  color: var(--secondary-text-color);
}
.form-search__input:focus {
  outline: none;
}
.form-search__input::placeholder {
  font-size: 14px;
  line-height: 1.71;
}

.site-nav-burger {
  margin-top: 40px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-nav-burger__item {
  margin-top: 32px;
  position: relative;
}
.site-nav-burger__link {
  font-size: 28px;
  line-height: 86%;
  letter-spacing: 0.02em;
  color: #000000;
  text-align: center;
}

.site-nav-burger__link_favorite-icon {
  fill: #000000;
  position: absolute;
  left: 114px;
  top: 1px;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    width: 768px;
    height: 828px;
    padding-left: 20px;
    padding-right: 16px;
  }

  .burger-menu__close-btn {
    padding: 7px;
    top: 37px;
  }

  .burger-menu__logo {
    display: inline-flex;
    margin-right: 69px;
    margin-top: 20px;
  }
  .burger-menu__logo-img {
    display: inline-flex;
  }

  .wrap-change-theme {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
    top: -3px;
  }

  .site-nav-burger {
    margin-top: 54px;
    margin-left: 326px;
    padding: 0;
  }

  .form-search {
    display: none;
  }

  .form-search-tablet {
    display: flex;
    margin-top: 0;
    padding: 0;
    margin-left: 190px;
    margin-right: 40px;
  }

  .form-search-tablet__input {
    width: 248px;
    border: 1px solid #fd5103;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0;
    padding-left: 8px;
    font-size: 18px;
    color: var(--secondary-text-color);
  }

  .form-search-tablet__input:focus {
    outline: none;
  }

  .form-search-tablet__btn-submit {
    width: 40px;
    height: 40px;
    border: 1px solid #fd5103;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0;
    line-height: 0;
    background-color: var(--secondary-white-color);
  }
  .form-search-tablet__icon {
    fill: var(--primary-accent-color);
  }

  .form-search-tablet__input::placeholder {
    font-size: 14px;
    line-height: 1.71;
  }

  .logo-img {
    width: 156px;
    height: 43px;
  }
}
@media screen and (min-width: 1280px) {
  .burger-menu {
    display: none;
  }

  .burger-menu__open-btn {
    display: none;
  }

  .menu {
    display: flex;
    align-items: flex-end;
  }
  .site-nav {
    display: flex;
    gap: 60px;
    margin-left: 43px;
  }

  .site-nav-favorite{
    border: none;
  }

  .site-nav-favorite__content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .site-nav-favorite__link{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .show{
    display: block;
  }

  .form-search-tablet {
    margin-left: 191px;
    margin-right: 172px;
    padding: 0;
  }
  .site-nav__link {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }

  .wrap-change-theme__desktop {
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
  }

  .change-theme__desktop-light {
    display: inline-block;
    margin-right: 12px;
    font-size: 18px;
    line-height: 1.33;
    color: var(--primary-accent-color);
  }

  .change-theme__desktop-dark {
    display: inline-block;
    margin-left: 12px;
    font-size: 18px;
    line-height: 1.33;
  }
}
