.hero {
  padding-top: 60px;
  padding-bottom: 20px;
}
.hero__title {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.91;
  color: var(--primary-accent-color);
}

.hero__text-desktop {
  display: none;
}

.hero__keyset {
  display: none;
}

.hero__picture {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}
.hero__cocktail-pictures {
  display: block;
  width: 307.01px;
  height: 274.53px;

}

.hero__text-mobile {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
  opacity: 0.8;
}

.hero__form {
  display: flex;
  justify-content: center;
}

.hero__form-select {
  display: block;
  justify-content: center;
  font-family: 'Poppins';
  width: 93px;
  height: 34px;
  padding-left: 10px;
  padding-right: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 135%;
  word-spacing: 10px;
  color: var(--primary-accent-color);
  border: 1px solid var(--primary-accent-color);
  border-radius: 4px;
  appearance: none;
  background: url('../images/arrow-down.png') no-repeat right;
  background-position-x: calc(100% - 9px);
}

@media screen and (min-width: 768px) {
  .hero-container{
    display: flex;
    row-gap: 32px;
  }

  .hero__text-mobile {
    display: none;
  }
  .hero__form {
    display: none;
  }
  .hero__text-desktop {
    display: flex;
    margin-bottom: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    opacity: 0.8;
  }

  .hero__title {
    max-width: 336px;
    font-size: 26px;
    line-height: 1.62;
    margin: 0;
    margin-bottom: 40px;
  }

  .hero__wrap{
    // display: flex;
    // margin-right: 32px;
  }

  .hero__picture {
    display: block;
    width: 336px;
    margin-left: auto;
  }
  .hero__cocktail-pictures {
    width: 368.41px;
    height: 329.44px;
    margin-left: 28px;
    
  }
    
}
